# Godot 4+ specific ignores
.godot/
/android/
/assets/
/addons/asset_placer/
/addons/scene_texture/
/addons/terrain_3d/
/addons/proton_scatter/
/addons/editor_icon_previewer/
/addons/asset_placer_with_physics/
/resources/
/materials/
/scenes/
*.zip